#example1 {
    box-sizing: content-box;    
    width: 140px;
    height: 80px;
    padding: 20px;    
    border: 5px solid blue;
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 25px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

#example1 :hover {
    background-color: #ff4343;
}

#overall {
    display: flex;
    text-decoration: none;float: left;
    list-style-type: none;
}